@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');
body{
    background: #EAEBF0;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Golos Text', sans-serif;
    padding-left: 1rem;
}
.nav__heading{
    display: flex;
    padding-left: 2rem;
    font-family: 'Golos Text', sans-serif;
  
}

.nav__heading h2{
    color:#437EF7;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.nav__elements ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    color: #272D37;
    padding-right: 6rem;  
}
.nav__elements ul li{  
    padding: 0 10px;
    font-size:x-large;
    

}
.nav__btn{
    display: flex;
    padding-right: 1rem;

    

}
.nav__btn--primary{
    padding-right: 1rem;
    
}
.nav__btn--primary button{
    border: none;
    background: none;
    color: #437EF7;
    padding: 0.5rem;
    cursor: pointer;
    
}
.nav__btn--secondary button{
    border: none;
    background-color: #437EF7;
    color: #ffffff;
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;

}
a{
    text-decoration: none;
    color: #272D37;
}
a:hover {
    color: #437EF7;
}  

.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 20px 40px;
    background-color: #ffffff;
    padding: 0 7rem;
    font-family: 'Golos Text', sans-serif;
}

.content__head{
    font-weight: 700;
font-size: 52px;
text-align: center;
color: #272D37;

}
.content__details{
    color: #5F6D7E;
    font-weight: 400;
font-size: 18px;
line-height: 26px;

text-align: center;
}

.content__btn{
    display: flex;
    justify-content: center;
    
}

.content__btn--primary button{
    border: none;
    background-color: #437EF7;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 1em;
    
    
}

.content__btn--secondary button{
    border: none;
    background-color: #DAE0E6;
    margin:0 1em;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

  
}
.img{
    text-align: center;
}
.img img{
    
    width: 700px;
    height: 500px;
}

.footer{
    font-family: 'Golos Text', sans-serif;

}
.footer--primary{
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    color: #272D37;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 20px 40px;
}

.footer--primary span{
    color:#437EF7;
}